/* Global Styles
----------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color:#796D83;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #ffbc7d;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Mooli', sans-serif;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0; 
}
/* Profile
----------------------------------------*/
header {
    background: #d4d8d9;
}
.wrap {
    text-align: center;
    padding-top: 100px;
    transform: translate(-50%,-50%);
  }
  .dimension {
    text-shadow: -0.06em 0 red, 0.06em 0 cyan;
  }

/* Projects
----------------------------------------*/
.projects {
    background: #d7f7f5;
}
.projects a {
    color: blue;
}
.projects .btn {
    color:aliceblue;
    background: darkblue;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(47, 48, 97, 80%);
}
.project-item{
    overflow: hidden;
    border-bottom: 1px dashed darkgrey;
    padding: 25px 0;
}
.projects-item img{
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}

/* Work Experience
----------------------------------------*/
.work-experience {
    background: #f7dad7;
}

/* Education
----------------------------------------*/
.education {
    background: #d7f7f5;
}


/* Contact Info
----------------------------------------*/
footer {
    background: #d4d8d9;
}